{% load static %}
<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <title>
{{ project_title }}
    </title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
{% block head %}
    <ul class="list-unstyled text-center">
    <li><a href="{{ request.META.HTTP_REFERER }}">Назад</a></li>
    <li><a href="{% url 'main:index' %}">На главную</a></li>
    <li><a href="{% url 'accounts:login' %}">Login</a></li>
    <li><a href="{% url 'accounts:logout' %}">Logout</a></li>
    </ul>
{% endblock %}

{% block body %}
{#{% for message in messages %}#}
{#    <div class="text-center">{{ message }}</div>#}
{#{% endfor %}#}
{% endblock %}
</body>