{% extends "base.html" %}
{% block body %}
    <div class="text-center">
    {% if not user.is_authenticated %}
<p>В данный момент Вы не авторизованы на сайте</p>
{% else %}
Вы вошли как <div style="color: #ba8b00; display: inline">{{ user.username }}</div>
{% endif %}
        <br><br><h3>Активные опросы:</h3><br>
    {% for quiz in active_quizzes %}
    <p><a href="{% url 'main:quiz' quiz.id %}">Опрос "{{ quiz.title }}"</a></p>
    {% endfor %}
        <br><br>Пройденные мной опросы:<br><br>
    {% for quiz in user_passed_quizzes %}
        <p><a href="{% url 'main:passed' quiz.id %}">Опрос "{{ quiz.title }}"</a></p>
    {% endfor %}
    </div>
{% endblock %}