{% extends "base.html" %}
{% block body %}
    <div class="text-center">
        {% for question in quiz_questions %}
            <p>{{ question }}</p>
                {% for answer in question.answer_set.all %}
                    {% if answer.answer_choice and question.type == 1%}
                        {{ answer.answer_choice.text }}
                    {% endif %}
                    {% if answer.answer_choice and question.type == 2%}
                        {{ forloop.counter }}) {{ answer.answer_choice.text }}
                    {% endif %}
                    {% if answer.answer_text %}
                        {{ answer.answer_text }}
                    {% endif %}
                    <br>
                {% endfor %}
                <br>
    {% endfor %}
    </div>
{% endblock %}